<div class="message" style="width: 400px">
<% messages.each do |m| %>
  <div class="chat-box">
    <% if m.user == current_user %>
      <p style="text-align: right;"><%=m.user.name %>:<%= m.content %></p>
    <% else %>
      <p style="text_align: left;"><%=m.user.name %>:<%= m.content %></p>
    <% end %>
  </div>
<% end %>
</div>